KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=raw_pos_transactions
WAREHOUSE_PATH=/opt/warehouse
SPARK_DRIVER_MEMORY=2g
AIRFLOW_UID=50000
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
